@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hover-message {
  bottom: 0;
  cursor: pointer;
  color: gray;
  text-decoration: underline;
}

.tooltip-text {
  display: none;
  position: absolute;
  background-color: #555;
  color: #fff;
  border-radius: 4px;
  padding: 4px;
  white-space: nowrap;
}

.hover-message:hover .tooltip-text {
  display: block;
}
